/* Footer.css */
.footer-container {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh; 
 
}

.footer-info h3 {
  margin: 0;
}

.footer-buttons {
  display: flex;
}

.facebook-button {
  background-color: #3b5998;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.instagram-button {
  background-color: #e4405f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
